@model MagniFinanceTest.MVC.ViewModels.GradeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GradeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GradeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeValue)
        </dd>

    </dl>
</div>
<p>
	<a href="@Url.Action("Edit", new { id = Model.GradeId })" class="btn btn-dark">Edit</a>
	<a href="javascript: history.go(-1)" class="btn btn-info">Go Back</a>
</p>
