@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>MagniFinance - Test</h1>
    <p class="lead">Project in ASP.NET MVC 5 developed following DDD (Domain Driven Design) concepts.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Courses</h2>
		<p>
			List the courses and show the number of teachers, students and average of their grades for each course
		</p>
		<p><a href="@Url.Action("Index","Courses")" class="btn btn-info"><spam class="fa fa-book"></spam></a></p>
	</div>
    <div class="col-md-4">
        <h2>Subjects</h2>
		<p>List the subjects and show the teacher information, number of students and their grades for each subject.</p>
		<p><a href="@Url.Action("Index","CourseSubjects")" class="btn btn-info"><spam class="fa fa-copy"></spam></a></p>
    </div>
    <div class="col-md-4">
        <h2>Students</h2>
		<p>List the students and their respectives grades of the subject, see grades when open details of student. </p>
		<p><a href="@Url.Action("Index","Student")" class="btn btn-info"><spam class="fa fa-user-graduate"></spam></a></p>
    </div>
</div>